<div class="product grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-5 mb-10">
  @for (product of productList; track $index) {
    <figure class="border-[1px] border-black rounded-md overflow-hidden">
      <img [src]="product.imgSrc" class="w-full" alt="">
      <figcaption class="text-center py-5">
        <h2 class="font-semibold text-[18px] capitalize">price: {{product.price}}</h2>
        <h2 class="font-semibold text-[18px] capitalize">category: {{product.category}}</h2>
        <h2 class="font-semibold text-[18px] capitalize">on sale: {{product.onSale == true ?  'Yes': 'No'}}</h2>
        @for (review of product.reviews; track $index) {
          <div class="comments bg-sky-100 bg-opacity-30 py-5 mt-5">
            <h3 class="font-[800] text-[25px] capitalize">rating: {{review.rating}}</h3>
            <h4>{{review.comment}}</h4>
            <h5>{{review.reviewerName}}</h5>
            <p>{{review.reviewerEmail}}</p>
            <p >{{review.date}}</p>
          </div>
        }
      </figcaption>
    </figure>
  }
</div>
<div class="recommandProducts">
<button class="bg-green-200 rounded-2xl px-3 py-1 mb-5" #btn>click to see more</button>
<h2 class="font-bold text-[30px]">our best sels...</h2>
  @defer (on interaction(btn)) {
 <app-recommand-products></app-recommand-products>
  }
</div>
